.modal-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    z-index: 10000;
    place-items: center;
}

@media only screen and (max-height:600px)  {
    .modal-container {
        height: 100%;
    }
}


@media only screen and (min-width:900px)  {
    .modal-container {
        height: 100%;
    }
}
@keyframes animationmodal {

    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0px);
    }
}

.modal {
    position: relative;
    width: 50%;
    max-width: 300px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: #5E5544;
    color: white;
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 16px;
    animation: animationmodal .2s ease-in-out;
}

.modal label {
    font-weight: bold;
}
.modal img {
    max-width: 150px;
    margin: 4px;
    border: 1px solid white;
    border-radius: 8px;
    opacity: 0.8;
}

.modal button {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    margin-block: 8px;
    color: white;
    cursor: pointer;
    background-color: rgb(98, 135, 82);
}

#modal_close {
    bottom: 8px;
    padding-inline: 16px;
    display: block;
    margin-top: 8px;
    transform: translateY(10px);
    border: none;
    font-size: 16px;
    color: white;
    background-color: rgb(98, 135, 82);
}