#products {
    background-size: cover;
}

.products_gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products_gallery img {
    max-width: 300px;
    margin: 4px;
    border: 1px solid white;
    border-radius: 8px;
    opacity: 0.8;
}

.products_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products_wrapper label {
    font-size: 20px;
    color: brown;
    font-weight: bold;
    padding: 4px;
}

.product_stack_2 {
    font-size: 24px;
}

.delete_prod {
    background: #bd3333 !important;
    transform: scale(0.5);
    cursor: pointer;
}
.admin_act_label {
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.sure_del {
    background: #bd3333 !important;
    cursor: pointer;
}
.confirmation_order {
    row-gap: 8px;
}
.products_gallery button {
    background-color: rgb(98, 135, 82);
    color: white;
    cursor: pointer;
    border: none;
    font-size: 24px;
    border-radius: 4px;
    padding: 8px;
}

.product_stack_2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-weight: bold;
    justify-content: space-between;
}