.App {
  text-align: center;
  position: absolute;
  object-fit: contain;
  position: relative;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-wrapper {
  width: 100%;
  height: 100%;
}

button {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}